/*
Títulos: Bebas Neue   font-family: 'Bebas Neue', cursive;
Texto Normal: Titillium Web     font-family: 'Titillium Web', sans-serif;
Texto con énfasis: Courier Prime    font-family: 'Courier Prime', monospace;
*/

/*---------------------------------------------SECCIÓN FONDO------------------------------------------------------*/
.video 
{
    max-width: 300%;
    width: 100%;
    position: fixed;
    bottom: 0px;
    right: 0px;
    min-width: 100%;
    min-height: 100%;
    height: auto;
    z-index: -1;
    overflow: hidden;
}

body 
{
    background-color: snow;
}

/*---------------------------------------------SECCIÓN GENERAL------------------------------------------------------*/

*
{
    font-family: 'Titillium Web', sans-serif;
    font-size: 30px;
}

h1
{
    text-align: center;
    font-size: 70px;
    font-family: 'Bebas Neue', cursive;
    color: burlywood;
}

.cont_datos
{
    border: 15px;
    border-style: double;
    border-color: #1F1F1F;
    display: inline-block;
    position: relative;
    left: 350px;
    background-color: #F2F2F2;
    padding-left: 25px;  
    padding-right: 25px;
    width: 550px;
    text-align: justify;
}

.cont_datos a
{
    color: black;
}

.til
{
    font-family: 'Miriam Libre', sans-serif;
    font-size: 30px;
}

.subtema
{
    font-family: 'Courier Prime', monospace;
}

/*---------------------------------------------SECCIÓN PARA BOTONES----------------------------------------------*/
.botones
{
    margin-top: 25px;
}

.personales 
{
    border: 15px groove;
    display: inline-block;
    background-color: #76D7C4;
}

.personales:hover
{
    -webkit-transform:scale(0.9);
    transform:scale(0.9);
}

.personales a:link
{
    color: black;
}

.personales a:visited
{
    color: black;
}

.tareas 
{
    border: 15px groove;
    display: inline-block;
    position: relative;
    left: 965px;
    background-color: #76D7C4;
}

.tareas:hover
{
    -webkit-transform:scale(0.9);
    transform:scale(0.9);
}

.tareas a:link 
{
    color: black;
}

.tareas a:visited 
{
    color: black;
}