/*
Títulos: Bebas Neue   font-family: 'Bebas Neue', cursive;
Texto Normal: Titillium Web     font-family: 'Titillium Web', sans-serif;
Texto con énfasis: Courier Prime    font-family: 'Courier Prime', monospace;
https://www.enriquejros.com/efectos-imagenes-css/
*/

/*---------------------------------------------SECCIÓN FONDO------------------------------------------------------*/
.video 
{
    max-width: 300%;
    width: 100%;
    position: fixed;
    bottom: 0px;
    right: 0px;
    min-width: 100%;
    min-height: 100%;
    height: auto;
    z-index: -1;
    overflow: hidden;
}

body 
{
    background-color: snow;
}

/*---------------------------------------------SECCIÓN GENERAL------------------------------------------------------*/

*
{
    font-family: 'Titillium Web', sans-serif;
    font-size: 30px;
}

h1
{
    text-align: center;
    font-size: 70px;
    font-family: 'Bebas Neue', cursive;
    color: aliceblue;
}

.cont_img
{
    display: inline;
    position: relative;
    top: 33px;
    left: 100px;
    overflow:hidden;
}

#img 
{
    width: 32%;
    border: 15px solid;
    border-color: #6BC393;
    padding: 10px;
    background-color: #60A1B9;
}

#img:hover
{
    -webkit-transform:scale(0.9);
    transform:scale(0.9);
    transition:all .5s ease-in-out;
}

.cont_datos
{
    border: 15px;
    border-style: double;
    border-color: #1F1F1F;
    display: inline-block;
    position: relative;
    background-color: #F2F2F2;
    left: 145px;
    padding-left: 25px;  
    padding-right: 25px; 
}

.subtema
{
    font-family: 'Courier Prime', monospace;
}

/*---------------------------------------------SECCIÓN PARA BOTONES----------------------------------------------*/
.botones
{
    margin-top: 25px;
}

.personales 
{
    border: 15px groove;
    display: inline-block;
    background-color: #76D7C4;
}

.personales:hover
{
    -webkit-transform:scale(0.9);
    transform:scale(0.9);
}

.personales a:link
{
    color: black;
}

.personales a:visited
{
    color: black;
}

.tareas 
{
    border: 15px groove;
    display: inline-block;
    position: relative;
    left: 398px;
    background-color: #76D7C4;
}

.tareas:hover
{
    -webkit-transform:scale(0.9);
    transform:scale(0.9);
}

.tareas a:link 
{
    color: black;
}

.tareas a:visited 
{
    color: black;
}

.act 
{
    border: 15px groove;
    display: inline-block;
    position: relative;
    left: 778px;
    background-color: #76D7C4;
}

.act:hover
{
    -webkit-transform:scale(0.9);
    transform:scale(0.9);
}

.act a:link 
{
    color: black;
}

.act a:visited 
{
    color: black;
}