/*
Títulos: Bebas Neue   font-family: 'Bebas Neue', cursive;
Texto Normal: Titillium Web     font-family: 'Titillium Web', sans-serif;
Texto con énfasis: Courier Prime    font-family: 'Courier Prime', monospace;
*/

*
{
    font-family: 'Titillium Web', sans-serif;
    font-size: 30px;
}

body
{
    background-color:snow;
}

h1, h2
{
    text-align: center;
    font-size: 50px;
    font-family: 'Bebas Neue', cursive;
}

.contenedor 
{
    border: solid;
    border-color: black;
    margin-left: 80px;
    margin-right: 80px;
    padding: 25px;
}

.cont_info p 
{
    font-size: 20px;
    text-align: justify;
}

.cont_info ul li 
{
    font-size: 20px;
    text-align: justify;
}

.subtema {
    font-family: 'Courier Prime', monospace;
}

/*---------------------------------------------SECCIÓN PARA BOTONES----------------------------------------------*/
.botones
{
    margin-top: 25px;
}

.personales 
{
    border: 15px groove;
    display: inline-block;
    background-color: #76D7C4;
}

.personales:hover
{
    -webkit-transform:scale(0.9);
    transform:scale(0.9);
}

.personales a:link
{
    color: black;
}

.personales a:visited
{
    color: black;
}

.tareas 
{
    border: 15px groove;
    display: inline-block;
    position: relative;
    left: 398px;
    background-color: #76D7C4;
}

.tareas:hover
{
    -webkit-transform:scale(0.9);
    transform:scale(0.9);
}

.tareas a:link 
{
    color: black;
}

.tareas a:visited 
{
    color: black;
}

.act 
{
    border: 15px groove;
    display: inline-block;
    position: relative;
    left: 778px;
    background-color: #76D7C4;
}

.act:hover
{
    -webkit-transform:scale(0.9);
    transform:scale(0.9);
}

.act a:link 
{
    color: black;
}

.act a:visited 
{
    color: black;
}