/*
Títulos: Bebas Neue   font-family: 'Bebas Neue', cursive;
Texto Normal: Titillium Web     font-family: 'Titillium Web', sans-serif;
Texto con énfasis: Courier Prime    font-family: 'Courier Prime', monospace;
Preguntas: Miriam Libre     font-family: 'Miriam Libre', sans-serif;
*/

*
{
    font-family: 'Titillium Web', sans-serif;
    font-size: 30px;
}

body
{
    background-color: snow;
}

h1, h2
{
    text-align: center;
    font-size: 50px;
    font-family: 'Bebas Neue', cursive;
}

h3
{
    text-align: center;
}

.contenedor 
{
    border: dashed 5px;
    border-color: black;
    margin-left: 80px;
    margin-right: 80px;
    padding: 25px;
}

.pregunta
{
    font-family: 'Miriam Libre', sans-serif;
    font-size: 40px;
}

.til
{
    font-family: 'Courier Prime', monospace;
    font-size: 55px;
}

.cont_info p 
{
    font-size: 20px;
    text-align: justify;
}

.cont_info ul li 
{
    font-size: 20px;
    text-align: justify;
}

.subtema 
{
    font-family: 'Courier Prime', monospace;
    font-size: 20px;
}

.cont_img_v1
{
    border: solid;
    border-color: #1F1F1F;
    background: #F2F2F2;
    position: relative;
    margin: auto;
    padding: 25px;
    width: 70%;
}

.cont_img_v1 img
{
    width: 70%;
    max-height: 50%;
    margin: auto;    
    display: block;
}

.cont_img_v2
{
    border: solid;
    border-color: #1F1F1F;
    background: #F2F2F2;
    position: relative;
    margin: 2vh auto;
    padding: 25px;
    width: 70%;
}

.cont_img_v2 img
{
    width: 49%;
    display: inline;
    margin: 1px;
}

/*---------------------------------------------SECCIÓN PARA BOTONES----------------------------------------------*/
.botones
{
    margin-top: 25px;
}

.anterior 
{
    border: 15px groove;
    display: inline-block;
    background-color: #76D7C4;
}

.anterior:hover
{
    -webkit-transform:scale(0.9);
    transform:scale(0.9);
}

.anterior a:link
{
    color: black;
}

.anterior a:visited
{
    color: black;
}

.tareas 
{
    border: 15px groove;
    display: inline-block;
    position: relative;
    left: 410px;
    background-color: #76D7C4;
}

.tareas:hover
{
    -webkit-transform:scale(0.9);
    transform:scale(0.9);
}

.tareas a:link 
{
    color: black;
}

.tareas a:visited 
{
    color: black;
}

.siguiente 
{
    border: 15px groove;
    display: inline-block;
    position: relative;
    left: 855px;
    background-color: #76D7C4;
}

.siguiente:hover
{
    -webkit-transform:scale(0.9);
    transform:scale(0.9);
}

.siguiente a:link 
{
    color: black;
}

.siguiente a:visited 
{
    color: black;
}